<mat-card style="text-align: center;">
    <mat-card-header>
        <mat-card-title>
            <mat-icon>face</mat-icon>
            Paciente
        </mat-card-title>
    </mat-card-header>
    <div class="imagem-container">
    <img mat-card-image class="foto"
        src="data:image/png;base64,{{ paciente.foto}}"/>
     </div>
    <mat-card-content>
        <p>
            <strong>{{ paciente.nome}}</strong> <br/>
            <strong>{{ paciente.email}}</strong>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="fechar()">
            Fechar
        </button>
    </mat-card-actions>
</mat-card>
